.form-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.form-container__elements {
    width: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    margin: 70px auto 60px;
}

.form-container__logo {
    background-image: url(../../images/blue_logo.svg);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.form-container__logo:hover {
    transition: 1s linear 0.03s;
    background-image: url(../../images/blue_logo_hovered.svg);
}

.form-container__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-container__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #A0A0A0;
}

.form-container__input-wrapper {
    position: relative;
    width: 100%;
    max-width: 396px;
}

.form-container__input {
    width: 92%;
    max-width: 396px;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 20px;
    background: #F4F4F4;
    border: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px;
}

.form-container__input_error {
    color: #EE3465;
}

.form-container__error {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 0;
    bottom: -3px;
    max-width: 396px;
}

.form-container__button-submit {
    margin: 73px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 396px;
    height: 45px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background: #3456F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
}

.form-container__button-submit:hover {
    transition: 1s linear 0.03s;
    background: rgba(53, 88, 243, 0.4);
}

.form-container__button-login {
    margin: 161px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 396px;
    height: 45px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background: #3456F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
}

.form-container__button-login:hover {
    transition: 1s linear 0.03s;
    background: rgba(53, 88, 243, 0.4);
}

.form-container__links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.form-container__text {
    margin-right: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #A0A0A0;
}

.form-container__link {
    color: #3456F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

.form-container__link:hover {
    transition: 1s linear 0.03s;
    color: rgba(53, 88, 243, 0.4);
}

@media (max-width: 920px) {
    .form-container__elements {
        margin: 232px auto 220px;
    }
}

@media (max-width: 600px) {
    .form-container__elements {
        max-width: 260px;
        margin: 56px auto 16px;
    }

    .form-container__logo {
        margin: 0 auto 50px;
    }

    .form-container__title {
        margin: 0 auto 80px;
    }

    .form-container__input {
        width: 88%;
    }

    .form-container__button-submit {
        margin: 160px auto 0;
        font-size: 12px;
    }

    .form-container__button-login {
        margin: 248px auto 0px;
        font-size: 12px;
    }

    .form-container__links {
        margin-top: 4px;
    }

    .form-container__text {
        font-size: 12px;
    }
    
    .form-container__link {
        font-size: 12px;
    }
}