.movies-card {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
}

.movies-card__container_items {
    width: 90%;
    max-width: 1140px;
    margin: 68px auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: 218px;
    column-gap: 20px;
    row-gap: 32px;
    justify-content: center;
}

.movies-card__container_item {
    background: #FFF;
    border-radius: 5%;
}

.movies-card__container_radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 12px 10px;
    background: #FFF;
}

.movies-card__pic {
    width: 270px;
    height: 151px;
}

.movies-card__title {
    margin: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movies-card_radio_input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: auto;
}

.movies-card_radio_circle {
	position: relative;
	cursor: pointer;
    width: 16px;
    height: 16px;
}

.movies-card_radio_circle:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
}

.movies-card_radio_circle:after {
	content: '';
	position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
	border-radius: 50%;
	background: #2BE080;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}

.movies-card_radio_input:checked + .movies-card_radio_circle:after {
	opacity: 1;
}

.movies-card__time {
    margin: 0 12px 14px;
    color: #A0A0A0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.movies-card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1140px;
    height: 36px;
    margin: 50px auto 80px;
    background: #F4F4F4;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    border: none;
}