.movies {
    width: 100%;
    background: #FAFAFA;
}

.movies__popup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: none;
    margin: 0 auto;
    border-radius: 5%;
    background: #FAFAFA;
    position: fixed;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
}

.movies__error-nothing {
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.movies__error {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}