.not-found {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found__title {
    margin: 246px auto 0;
    padding: 0;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.not-found__subtitle {
    margin: 5px auto 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.not-found__link {
    margin: 184px auto 60px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: rgb(52, 86, 243);
    cursor: pointer;
}

.not-found__link:hover {
    transition: 1s linear 0.03s;
    color: rgba(52, 86, 243, 0.4);
}

@media (max-width: 920px) {
    .not-found__title {
        margin-top: 408px;
    }

    .not-found__link {
        margin-bottom: 222px;
    }
}

@media (max-width: 600px) {
    .not-found__title {
        margin-top: 330px;
        font-size: 80px;
    }

    .not-found__subtitle {
        font-size: 12px;
        margin-top: 10px;
    }

    .not-found__link {
        font-size: 12px;
        margin: 284px auto 30px;
    }
}