.about {
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.about__title {
    width: 1140px;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 22px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid;
}

.about__container {
    width: 1140px;
    margin-top: 70px;
    margin-bottom: 98px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about__container:first-of-type {
    margin-bottom: 40px;
}

.about__container_subtitle {
    width: 550px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__container_subtitle:first-of-type {
    margin-right: 40px;
}

.about__container_paragraph {
    width: 550px;
    margin: 26px 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.about__container_paragraph:first-of-type {
    margin-right: 40px;
}

.about__container_one-week {
    margin: 0;
    width: 228px;
    height: 36px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #3456F3;
}

.about__container_four-week {
    margin: 0;
    width: 912px;
    height: 36px;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #F2F2F2;
}

.about__container_backend {
    margin: 14 0 0;
    width: 228px;
    color: #A0A0A0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px
}

.about__container_frontend {
    margin: 14px 0 0;
    width: 912px;
    color: #A0A0A0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}