.header {
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #DDDEE3;
    max-width: 1280px;
    height: 74px;
}

.header__logo {
    padding-left: 70px;
    width: 38px;
    height: 38px;
}

.header__container {
    margin-right: 70px;
    width: 186px;
}

.header__link_sign-in {
    width: 76px;
    height: 32px;
    color: #fff;
    background: #3456F3;
    border-radius: 3px;
    border: 1px solid #3456F3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.header__link_sign-up {
    margin-right: 30px;
    padding: 0;
    width: 78px;
    color: #000;
    background: inherit;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

@media (max-width: 920px) {
    .header__logo {
        padding-left: 30px;
    }

    .header__container {
        margin-right: 28px;
    }
}