.about-me {
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.about-me__title {
    width: 90%;
    max-width: 1140px;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 24px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid;
}

.about-me__container {
    width: 90%;
    max-width: 1140px;
    margin-top: 66px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me__container-text {
    width: 60%;
    max-width: 600px;
    flex-direction: column;
}

.about-me__container-text_title {
    margin: 0;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

.about-me__container-text_subtitle {
    margin: 18px auto 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.about-me__container-text_paragraph {
    margin: 26px auto 0 auto;
    max-width: 598px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.about-me__container-text_link {
    display: block;
    margin: 98px auto 0 auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.about-me__container-text_link:hover {
    transition: 1s linear 0.03s;
    color: rgba(0, 0, 0, 0.4);
}

.about-me__container_image {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    border: none;
}

@media (max-width: 920px) {
    .about-me__title {
        max-width: 668px;
        padding-top: 90px;
        padding-bottom: 25px;
        font-size: 21px;
    }

    .about-me__container {
        margin-top: 58px;
        max-width: 668px;
    }

    .about-me__container-text {
        max-width: 364px;
    }

    .about-me__container-text_title {
        font-size: 38px;
    }

    .about-me__container-text_subtitle {
        margin-top: 3px;
        font-size: 12px;
    }

    .about-me__container-text_paragraph {
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
    }

    .about-me__container-text_link {
        margin-top: 88px;
    }

    .about-me__container_image {
        margin-top: 7px;
        width: 255px;
        height: 307px;
    }
}

@media (max-width: 668px) {
    .about-me__container-text {
        margin-right: 10px;
    }
}

@media (max-width: 625px) {
    .about-me__container-text_link {
        margin-top: 70px;
    }
}

@media (max-width: 600px) {
    .about-me__title {
        max-width: 292px;
        font-size: 17px;
        padding-top: 71px;
        padding-bottom: 29px;
    }

    .about-me__container {
        max-width: 292px;
        flex-direction: column-reverse;
        align-items: start;
    }

    .about-me__container_image {
        margin: 0;
        width: 292px;
        height: 352px;
    }

    .about-me__container-text {
        width: 276px;
    }

    .about-me__container-text_title {
        margin-top: 30px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .about-me__container-text_subtitle {
        margin-top: 8px;
        font-size: 11px;
    }

    .about-me__container-text_paragraph {
        font-size: 10px;
        line-height: 16px;
        margin-top: 18px;
    }

    .about-me__container-text_link {
        margin-top: 40px;
    }
}